*
  {
    box-sizing: border-box;
  }
  body
  {
    background-color: #ffeaa7;
  }
  .container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .card{
    perspective: 1000px;
    transform: perspective-3d;
  }
  .card-item{
    height: 250px;
    width: 250px;
    background-color: #ffffff;
    transition: transform 0.2s ease;

  }
